

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Gloria Hallelujah', cursive;
}
#logo{
  height: 150px;
    width: 200px;
    float: left;
}


.subtext{
float: right;
}
.header{
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
  border-bottom: 3px solid #BCBBBB;
}
.featured{
  margin: 0 auto;
  padding-bottom: 3%}

.button {
margin-top:10px;

}



