

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
    font-family: 'Gloria Hallelujah', cursive;
}

.jumbotron {
  margin-bottom: 30px;
  color: inherit;
  background-color: #fff;
    border-bottom: 3px solid #BCBBBB;
}
.logo{
    height: 150px;
    width: 200px;
    float: left;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
  float: right;
}
.sub-text{
    float: right;
}
.featured{
     display: block;
    max-width: 100%;
    width: 75%;
    margin:0 12.5% 0 12.5%;
    height: auto;
    padding-bottom: 7%;

}

#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}










